/* .formContainer{
    margin: auto;
    width: 100vh;
    height: 100%;
    background-image: url('https://shopcoinusa.com/images/bg-login.png');
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
} */