.form-container-main{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.form-login{
    margin: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding:32px;
    width: 100%;
    max-height: fit-content;
}
.form-logo {
    width: 100%;
    height: 75px;
}
.formRegister-title{
    font-size: 24px;
    font-style: normal;
    padding: 0%;
    font-weight: 600;
    line-height: 32px;
    margin: 12px 36px;
    font-size: 200%;
}
.formRegister-image{
    width: 220px;
    height: 70px;
    vertical-align: middle;
    border-style: none;
    object-fit: contain;
    margin-top: -10px;
}
.formRegister-title{
    font-size: 24px;
    font-style: normal;
    padding: 0%;
    font-weight: 600;
    line-height: 32px;
    margin: 12px 36px;
    font-size: 200%;
}
.formRegister-title{
    font-size: 24px;
    font-style: normal;
    padding: 0%;
    font-weight: 600;
    line-height: 32px;
    margin: 12px 36px;
    font-size: 200%;
}
.formRegister-input{
    width: 100%;
    max-height: fit-content;
}
.formRegister-forgotPass{
    width: 100%;
    text-align: left;
    max-width: fit-content;
    color: #fbc300;
}
 
.btn{
    text-align: right;
    width: 100%;
}
.formRegister-forgotPass-link{
    text-decoration: none;
    position: relative;
    right: 0px;
    left: 20vh;
    width: 100%;
    color: #fbc300;
}
.formRegister-help{
    width: 100%;
    text-align: center;
}
.login-forgotpwd-link{
    text-decoration: none;
    color: #f5c928;
    margin: 1px;
}
@media (max-width: 46.25em) {
    .form-login {
        width: 100%;
    }
}