.form-input-container{
    width: 100%;
}
.form-input-label{
    padding-bottom: 5px;
}
.input{
    align-items: center;
    background: var(--color-white);
    border: 1.5px solid var(--search-border-color);
    outline: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 16px;
    font-size: 16px;
}
.form-input-label{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    margin-bottom: 0;
}
.form-register {
    margin: auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    width: 30%;
    padding: 32px;
}
input {
    align-items: center;
    background: var(--color-white);
    border: 1.5px solid var(--search-border-color);
    outline: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 16px;
}